.food-items-block {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.food-item-info {
    width: 25%;
    text-align: center;
}

.food-item-info-title {
    text-align: left;
}

.food-item-info-delete-btn {
    margin: 0 auto;
    padding: 10px 20px;
}

.hide {
    display: none;
}