.btn-block {
    display: inline-block;
    position: relative;
    width: 50%;
    margin: 10px 0;
    text-align: center;
}

.btn-food {
    width: 80%;
    border-radius: 20px;
}

.btn-food-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.food-image {
    width: 30px;
    height: 35px;
}